body {
    margin: 0;
    padding: 0;
}
@import "fonts.less";

@colorDark: #555556;
@colorAvarage: #998675;
@colorFooter: #111111;
@colorFootTxt: #555555;
@colorFootLinks: #959595;
@colorFootTextSelect: #c7b299;
@colorDot1: #8f8e91;
@colorLightBackground: #fbfaf8;
@colorAside: #241d1a;
@colorAsideTxt: #615855;
@colorVideo_bg: #828384;
@colorDate: #252525;
@colorBGPosts: #362f2d;
@colorBGMonth: #a48d72;
@colorBGInform: #191919;

/*==================== выше переменные ======================*/

.container-home {
    width: 1920px;
    min-height: 1024px;
    margin: 0 auto;
    background-color: @colorDark;
    background-image: url(../img/background-image1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    box-sizing: border-box;
}

.container-home:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.home-header {
    width: 100%;
    min-height: 56px;
    margin: 0 auto;
    box-sizing: border-box;
}

.home-logo {
    display: block;
    width: 195px;/*185*/
    height: 58px;
    margin: 0 0 0 335px;
    text-decoration: none;
    box-sizing: border-box;
    float: left;
}

.home-logo:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.home-logo-block path {
    fill: #fff;
    float: left;
}

.home-logo-block1 path {
    fill: #ccc;
    float: left;
}
.home-logo-block:hover path {
    fill: @colorAvarage;
}
.home-logo-block:hover span {
    color: @colorAvarage;
}
.home-logo-block:active path {
    fill: @colorAside;
}
.home-logo-block:active span {
    color: @colorAside;
}
.home-logo-block1:hover path {
    fill: @colorAvarage;
}
.home-logo-block1:hover span {
    color: @colorAvarage;
}
.home-logo-block1:active path {
    fill: @colorAside;
}
.home-logo-block1:active span {
    color: @colorAside;
}

.logo-txt {
    display: block;
    font-family: "raleway-light", sans-serif;
    font-weight: 300;
    font-size: 34px;
    color: #fff;
    padding: 10px 0 0 5px;
    float: right;
}

.logo-txt1 {
    display: block;
    font-family: "raleway-light", sans-serif;
    font-weight: 300;
    font-size: 34px;
    color: #ccc;
    padding: 10px 0 0 5px;
    float: right;
}

.navigation {
    width: 1160px;/*1110*/
    height: 58px;
    float: right;
    box-sizing: border-box;
    
}

.navigation1 {
    width: 1160px;
    height: 58px;
    float: right;
    box-sizing: border-box;
}

.navigation-nav {
    list-style-type: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    float: left;
}

.navigation li a {
    font-family: montserrat-light, sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    float: left;
    margin: 10px 30px 0 0;/*20 30 0 0*/
}

.navigation1 li a {
    font-family: montserrat-light, sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #ccc;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    float: left;
    margin: 10px 30px 0 0;/*20 30 0 0 */
}

.navigation a:hover {
    color: @colorAvarage;
}
.navigation a:active {
    color: @colorAside;
}
.navigation1 a:hover {
    color: @colorAvarage;
}
.navigation1 a:active {
    color: @colorAside;
}

.navigation button {
    width: 28px;
    height: 28px;
    border: none;
    outline: inherit;
    background-color: inherit;
    float: left;
}

.navigation1 button {
    width: 28px;
    height: 28px;
    border: none;
    outline: inherit;
    background-color: inherit;
    float: left;
}

.nav-cart {
    margin: 20px 25px 0 20px;/*12 25 0 25*/
    background-image: url(../img/cart-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}

.nav-search {
    background-image: url(../img/search-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 28px;
    height: 28px;
    border: none;
    outline: none;
    background-color: inherit;
    margin: 20px 0 0 0;
    color: #fff;
}
.nav-search:focus {
    width: 300px;
    transition: width 1s ease-out;
    background-position: right;
    /*outline: 1px solid gray;*/
    color: #fff;
}

.nav-cart:hover {
    filter: invert(0.5);
}
.nav-cart:active {
    filter: invert(0.9);
}
.nav-search:hover {
    filter: invert(0.5);
}
.nav-search:active {
    filter: invert(0.9);
}
.home-main {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

.home-main:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.home-main-btn-left {
    padding: 0;
    width: 40px;
    height: 73px;
    border: none;
    outline: inherit;
    background-color: inherit;
    position: absolute;
    top: 100px;
    left: 120px
}

.home-main-icon-left {
    fill: #fff;
}

.home-main-btn-left:hover path {
    fill: @colorDark;
}

.home-main-btn-left:active path {
    fill: @colorAvarage;
}

.home-main-block {
    margin: 285px 0 0 0;
    text-align: center;
}

.home-main-block-h2 {
    display: block;
    text-align: center;
    color: #fff;
    font-family: raleway-medium, sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.home-main-block-h1 {
    display: block;
    text-align: center;
    color: #fff;
    font-family: raleway-extra-bold, sans-serif;
    font-size: 52px;
    font-weight: 800;
}

.home-main-block-txt {
    font-family: montserrat-light, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    padding: 0 640px 0 634px;
    text-align: center;
    margin: 25px 0 0 0;
    word-wrap: break-word;
}

.home-main-btn {
    width: 170px;
    height: 53px;
    margin: 55px 0 0 0;
    outline: inherit;
    background-color: @colorAvarage;
    border-color: @colorAvarage;
    color: #fff;
    font-family: raleway-extra-bold, sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 5px;
}

.home-main-btn-right {
    padding: 0;
    width: 40px;
    height: 73px;
    border: none;
    outline: inherit;
    background-color: inherit;
    position: absolute;
    top: 100px;
    left: 1670px
}

.home-main-icon-right {
    fill: #fff;
}

.home-main-btn-right:hover path {
    fill: @colorDark;
}

.home-main-btn-right:active path {
    fill: @colorAvarage;
}

.home-main-dots {
    width: 115px;
    height: 18px;
    position: absolute;
    top: 580px;
    left: 860px;
    display: flex;
    justify-content: space-around;
}

.home-main-dot {
    display: block;
    width: 18px;
    height: 18px;
    background-image: url(../img/dot-of.png);
    background-repeat: no-repeat;
    background-position: center;
}
.home-main-dot:hover {
    background-image: url(../img/dot-on.png);
}



.about {
    width: 1920px;
    min-height: 1225px;
    margin: 0 auto;
    box-sizing: border-box;
}
.about:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.about-pagination {
    width: 100%;
    min-height: 375px;
    margin: 0 auto;    
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    box-sizing: border-box;
}

.about-pagination-web,
.about-pagination-develop,
.about-pagination-custom,
.about-pagination-market {
    width: 270px;
    margin: 82px 30px 80px 0;
   
    
}
.about-pagination div path {
    fill: @colorDark;
}
.about-pagination div svg {
    width: 51px;
    height: 48px;
    margin: 0 0 30px 113px;
    
}
.about-pagination div span {
    display: block;
    text-align: center;
    color: @colorDark;
    font-family: raleway-extra-bold, sans-serif;
    font-size: 22px;
    font-weight: 800;
    text-transform: capitalize;
}
.about-pagination div p {
    display: block;
    text-align: center;
    font-family: montserrat-light, sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin: 25px 0 25px 0;
}
.about-pagination-block-line {
    width: 70px;
    height: 3px;
    margin: 0 0 0 100px;
    border-bottom: 3px solid @colorDark;
}
.about-pagination div:hover path {
    fill: @colorFootTextSelect;
}
.about-pagination div:hover span {
    color: @colorFootTextSelect;
}
.about-pagination div:hover div {
    border-bottom: 3px solid @colorFootTextSelect;
}
.about-waxom {
    width: 100%;
    min-height: 696px;
    margin: 0 auto;
    background-color: @colorLightBackground;
    box-sizing: border-box;
}
.about-waxom:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.about-waxom-title {
    display: block;
    text-align: center;
    font-family: raleway-extra-bold, sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-transform: capitalize;
    color: @colorFootTxt;
    padding-top: 84px;
}
.about-waxom-text {
    display: block;
    /*width: 770px;*/
    margin: 21px 0 0 0;
    padding: 0 575px;
    text-align: center;
    font-family: montserrat-light, sans-serif;
    font-size: 16px;
    font-weight: 300;
}
.about-waxom-image {
    width: 1230px;
    min-height: 482px;
    background-color: @colorLightBackground;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
}
.about-waxom-image-right {
    width: 770px;
    height: 400px;
    background-image: url(../img/bg-image-right.jpg);
    position: absolute;
    top: 82px;
    left: 460px;
    z-index: 0;
}
.about-waxom-image-left {
    width: 770px;
    height: 400px;
    background-image: url(../img/bg-image-left.jpg);
    position: absolute;
    top: 82px;
    z-index: 1;
}
.about-waxom-image-front {
    width: 770px;
    height: 482px;
    background-image: url(../img/bg-image-front.jpg);
    position: absolute;
    left: 230px;
    z-index: 2;
}

.about-footer {
    width: 100%;
    min-height: 150px;
    margin: 0 auto;
    background: rgba(33,27,25,1);
    background: -moz-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(33,27,25,1)), color-stop(100%, rgba(78,52,39,1)));
    background: -webkit-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
    background: -o-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
    background: -ms-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
    background: linear-gradient(to right, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#211b19', endColorstr='#4e3427', GradientType=1 );
    box-sizing: border-box;
}
.about-footerafter:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.about-footer-h2 {
    display: block;
    text-align: left;
    width: 570px;
    padding: 50px 0 0 375px;
    font-family: raleway-light, sans-serif;
    font-size: 28px;
    font-weight: 300;
    text-transform: capitalize;
    color: #fff;
}
.about-footer-h2-link {
    text-decoration: none;
    color: #fff;
}
.about-footer-h2-link:hover {
    color: @colorFootTextSelect;
}
.about-footer-txt {
    display: block;
    text-align: left;
    width: 570px;
    font-family: montserrat-light, sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: @colorAsideTxt;
    margin: 12px 0 0 375px;
    float: left;
}
.about-footer-btn-buy {
    display: block;
    width: 170px;
    /*height: 50px;*/
    margin: -30px 375px 0 0;
    background-color: @colorAvarage;
    text-decoration: none;
    border-radius: 3px;
    outline: inherit;
    float: right;
}
.about-footer-btn-txt {
    display: block;
    text-align: center;
    font-family: raleway-extra-bold, sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-transform:uppercase;
    color: #fff;
    margin: 18px 0;
}
.about-footer-btn-buy:hover {
    box-shadow: 3px 3px 3px @colorDark;
}
.about-footer-btn-buy:active {
    box-shadow: none;
}
/*==== конец второй страницы ====*/
.project {
    width: 1920px;
    min-height: 1165px;
    margin: 0 auto;
    padding: 80px;
    box-sizing: border-box;
}
.project:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.project-title {
    display: block;
    text-align: center;
    font-family: raleway-medium, sans-serif;
    font-weight: 500;
    font-size: 30px;
}
.project-text {
    display: block;
    text-align: center;
    font-family: montserrat-light, sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 28px 0 28px 0;
    padding: 0 480px;                 
}
.project-nav {
    display: flex;
    justify-content: center;
}
.project-link {
    display: block;
    font-family: montserrat-light, sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: capitalize;
    border: 1px solid @colorAvarage;
    border-radius: 5px;
    margin: 0 10px 0 0;
    outline: none;
}
.project-link:hover {
    background-color: @colorAvarage;
    color: #fff;
}
.project-link:active {
    background-color: @colorDark;
    color: #fff;
}
.project-wrap {
    display: flex;
    width: 1170px;
    min-height: 705px;    
    justify-content: center;
    margin: 40px 0 0 0;
    padding: 0 295px;
    flex-wrap: wrap;
}
.project-wrap article {
    width: 370px;
    height: 340px;
    position: relative;
}
.project-wrap-box1 {
    background-color: @colorDark;
    background-image: url(../img/project-bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0 0 30px 0;
}
.project-wrap-box2 {
    background-color: @colorLightBackground;
    background-image: url(../img/project-bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0 30px 30px 30px;
}
.project-wrap-box3 {
    background-color: @colorLightBackground;
    background-image: url(../img/project-bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0 0 30px 0;
}
.project-wrap-box4 {
    background-color: @colorLightBackground;
    background-image: url(../img/project-bg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.project-wrap-box5 {
    background-color: @colorLightBackground;
    background-image: url(../img/project-bg5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0  30px 0 30px;
}
.project-wrap-box6 {
    background-color: @colorLightBackground;
    background-image: url(../img/project-bg6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.project-wrap-box-arrow {
    width: 100%;
    height: 100px;
    margin: 240px 0 0 0;
    background-color: @colorLightBackground;
    position: relative;
}
.project-wrap-box-arrow:before {
    content: "";
    display: block;
    border: 20px solid transparent;
    border-bottom: 15px solid @colorLightBackground;
    position: absolute;
    top: -35px;
    left: 20px;
}
.project-wrap-title {
    display: block;
    text-align: left;
    font-family: raleway-medium, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: @colorFootTextSelect;
    padding: 30px 0 12px 30px;
}
.project-wrap-txt {
    display: block;
    text-align: left;
    font-family: montserrat-light, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: @colorFootLinks;
    padding: 0 0 0 30px;
}
.project-wrap-btn-link,
.project-wrap-btn-search {
    display: none;
    width: 26px;
    height: 26px;
    border: none;
    background-color: transparent;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}
.project-wrap-btn-link {
    top: 108px;
    left: 146px;
    background-image: url("../img/link.png");
}
.project-wrap-btn-search {
    top: 108px;
    left: 200px;
    background-image: url("../img/lupa.png");
}
.project-wrap article:hover {
    filter: opacity(80%);
    filter: brightness(60%);
     
}
.project-wrap article:hover .project-wrap-btn-link {
    display: block;
}
.project-wrap article:hover .project-wrap-btn-search {
    display: block;
}
.project-wrap article:hover .project-wrap-btn-link:hover {
    background-color: @colorDark;
}
.project-wrap article:hover .project-wrap-btn-link:active {
    background-color: @colorAvarage;
}
.project-wrap article:hover .project-wrap-btn-search:hover {
    background-color: @colorDark;
}
.project-wrap article:hover .project-wrap-btn-search:active {
    background-color: @colorAvarage;
}
.project-wrap article:hover .project-wrap-box-arrow {
    background-color: @colorDark;
}
.project-wrap article:hover .project-wrap-box-arrow:before {
    border-bottom: 15px solid @colorDark;
} 
.project-wrap article:hover .project-wrap-title {
    color: #fff;
}
.project-wrap article:hover .project-wrap-txt {
    color: @colorFootTextSelect;
}
.project-load-btn {
    width: 170px;
    min-height: 50px;
    background-color: @colorAvarage;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 0 0 0;
    border-radius: 5px;
    margin: 40px 0 0 800px;
    font-family: raleway-extra-bold, sans-serif;
    font-size: 14px;
    font-weight: 800;
    outline: none;
}
/*===================== Раздел с видео блоком ==========*/
.presentation {
    width: 1920px;
    min-height: 702px;
    margin: 0 auto;
    background-color: @colorVideo_bg;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    
}
.presentation:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.presentation-wrap {
    width: 620px;
    min-height: 290px;
    padding: 210px 650px 0 650px;
    position: absolute;
    z-index: 1;

}
.presentation-play-btn {
    display: block;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin: 0 270px;
}
.presentation-play-btn svg {
    margin: 15px 0 0 15px;
    fill: #fff;
}
.presentation-play-btn:hover svg {
    fill: @colorDark;
}
.presentation-play-btn:active svg {
    fill: #000;
}
.presentation-title {
    display: block;
    text-align: center;
    font-family: raleway-medium, sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin: 40px 0 0 0;
    color: #fff;
}
.presentation-txt {
    display: block;
    text-align: center;
    color: #fff;
    font-family: montserrat-light, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
}
.presentation-time {
    text-align: center;
    color: @colorFootTextSelect;
    font-family: montserrat-light, sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.presentation-video {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}
/* ============== Блок Excellent ============  */
.excellent {
    width: 1920px;
    min-height: 696px;
    margin: 0 auto;
    background-color: #fff;
    background-image: url("../img/excellent-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}
.excellent:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.excellent-wrap {
    width: 675px;
    height: 340px;
    padding: 190px 0 0 875px;
}
.excellent-title {
    display: block;
    text-align: left;
    font-family: raleway-medium, sans-serif;
    font-size: 30px;
    font-weight: 500;
}
.excellent-txt {
    display: block;
    text-align: left;
    font-family: montserrat-light, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
}
.excellent-list {
    margin: 30px;
    list-style-type: none;
    font-family: montserrat-light, sans-serif;
    font-size: 16px;
    font-weight: 300;
}
.excellent-list-item {
    line-height: 32px;
}
.excellent-list-item:before {
    content: "";
    display: block;
    width: 21px;
    height: 21px;
    background-image: url("../img/arrow-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: left;
    margin: 5px 20px 0 0;
}
/*========== COUNTER =========*/
.counter {
    width: 1920px;
    min-height: 300px;
    margin: 0 auto;
    box-sizing: border-box;
    background: rgba(33,27,25,1);
    background: -moz-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(33,27,25,1)), color-stop(100%, rgba(78,52,39,1)));
    background: -webkit-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
    background: -o-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
    background: -ms-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
    background: linear-gradient(to right, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#211b19', endColorstr='#4e3427', GradientType=1 );  
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 60px 0 60px 490px;
}
.counter:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.counter-client,
.counter-coffee,
.counter-blog,
.counter-likes,
.counter-launch {
    display: block;
    width: 420px;
    height: 180px;
    padding: 0;
}
.counter-client,
.counter-coffee,
.counter-blog,
.counter-likes {
    margin: 0 70px 0 0;
}
.counter-client:after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 0 auto;
  align-self: flex-end;
}
.counter-coffee:after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 0 auto;
  align-self: flex-end;
}
.counter-blog:after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 0 auto;
  align-self: flex-end;
}
.counter-likes:after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 0 auto;
  align-self: flex-end;
}
.counter-launch:after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 0 auto;
  align-self: flex-end;
}

.counter svg {
    display: block;
    fill: @colorAvarage;
    width: 54px;
    height: 44px;
    display: block;
    margin: 0 auto;
}
.counter-client-title,
.counter-coffee-title,
.counter-blog-title,
.counter-likes-title,
.counter-launch-title {
    display: block;
    text-align: center;
    color: #fff;
    font-family: montserrat-light,sans-serif;
    font-size: 48px;
    font-weight: 300;
    padding: 25px 0 0 0;
}
.counter-client-txt,
.counter-coffee-txt,
.counter-blog-txt,
.counter-likes-txt,
.counter-launch-txt {
    display: block;
    text-align: center;
    color: @colorAvarage;
    font-family: montserrat-light, sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 20px 0 20px 0;
    text-transform: uppercase;
}
/* ====== Блок POSTS ========= */
.post {
    width: 1920px;
    min-height: 755px;
    margin: 0 auto;
    padding: 80px;
    box-sizing: border-box;
}
.post:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.post-title {
    display: block;
    text-align: center;
    font-family: raleway-medium, sans-serif;
    font-size: 30px;
    font-weight: 800;
}
.post-txt {
    display: block;
    text-align: center;
    width: 770px;
    font-family: montserrat-light, sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0 auto;
    padding: 25px 0 0 0;
    line-height: 32px
}
.post-wrap {
    width: 1170px;
    min-height: 400px;
    margin: 40px auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.post-left,
.post-center,
.post-right {
    width: 370px;
    min-height: 400px;
    border: 1px solid #ccc;
    position: relative;
    transition: all 0.5s ease-out 0.2s;
}
.post-center {
    margin: 0 30px;
}
.post-left-title,
.post-center-title,
.post-right-title {
    display: block;
    text-align: left;
    font-family: raleway-medium, sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0 0 30px;
    transition: all 0.5s ease-out 0.2s;
}
.post-left-txt,
.post-center-txt,
.post-right-txt {
    display: block;
    text-align: left;
    padding: 0 0 0 30px;
    font-family: montserrat-light, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    transition: all 0.5s ease-out 0.2s;
}
.post-left-link,
.post-center-link,
.post-right-link {
    display: block;
    text-decoration: none;
    margin: 0 0 0 30px;
    font-family: montserrat-light, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: @colorAvarage; 
    text-transform: capitalize;
    float: left;
}
.post-left-link:after {
    content: "";
    display: block;
    width: 5px;
    height: 8px;
    background-image: url("../img/triangle-icon.png");
    float: right;
    margin: 4px -20px 0 0;
}
.post-center-link:after {
    content: "";
    display: block;
    width: 5px;
    height: 8px;
    background-image: url("../img/triangle-icon.png");
    float: right;
    margin: 4px -20px 0 0;
}
.post-right-link:after {
    content: "";
    display: block;
    width: 5px;
    height: 8px;
    background-image: url("../img/triangle-icon.png");
    float: right;
    margin: 4px -20px 0 0;
}

.post-left-date,
.post-center-date,
.post-right-date {
    width: 50px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: all 0.5s ease-out 0.2s;    
}
.post-left-day,
.post-center-day,
.post-right-day {
    width: 100%;
    height: 30px;
    background-color: @colorDark;
    color: #fff;
    font-family: montserrat-light, sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    border-radius: 5px 5px 0 0;
    padding-top: 5px;
    transition: all 0.5s ease-out 0.2s;
}
.post-left-month,
.post-center-month,
.post-right-month {
    width: 100%;
    min-height: 20px;
    background-color: @colorDate;
    color: #fff;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    border-radius: 0 0 5px 5px;
    padding-top: 5px;
    transition: all 0.5s ease-out 0.2s;
}
.post-left:hover {
    background-color: @colorBGPosts;
    transition: all 0.5s ease-out 0.2s;
 }
 .post-left:hover .post-left-image {
    filter: opacity(30%);
    transition: all 0.5s ease-out 0.2s;
 }
 .post-left:hover .post-left-title {
    color: @colorFootTextSelect;
    transition: all 0.5s ease-out 0.2s;
 }
 .post-left:hover .post-left-txt {
    color: #fff;
    transition: all 0.5s ease-out 0.2s;
 }
.post-left:hover .post-left-day {
    background-color: @colorFootTextSelect;
    transition: all 0.5s ease-out 0.2s;
}
.post-left:hover .post-left-month {
    background-color: @colorBGMonth;
    transition: all 0.5s ease-out 0.2s;
}
.post-center:hover {
    background-color: @colorBGPosts;
    transition: all 0.5s ease-out 0.2s;
 }
 .post-center:hover .post-center-image {
    filter: opacity(30%);
    transition: all 0.5s ease-out 0.2s;
 }
 .post-center:hover .post-center-title {
    color: @colorFootTextSelect;
    transition: all 0.5s ease-out 0.2s;
 }
 .post-center:hover .post-center-txt {
    color: #fff;
    transition: all 0.5s ease-out 0.2s;
 }
.post-center:hover .post-center-day {
    background-color: @colorFootTextSelect;
    transition: all 0.5s ease-out 0.2s;
}
.post-center:hover .post-center-month {
    background-color: @colorBGMonth;
    transition: all 0.5s ease-out 0.2s;
}
.post-right:hover {
    background-color: @colorBGPosts;
    transition: all 0.5s ease-out 0.2s;
 }
 .post-right:hover .post-right-image {
    filter: opacity(30%);
    transition: all 0.5s ease-out 0.2s;
 }
 .post-right:hover .post-right-title {
    color: @colorFootTextSelect;
    transition: all 0.5s ease-out 0.2s;
 }
 .post-right:hover .post-right-txt {
    color: #fff;
    transition: all 0.5s ease-out 0.2s;
 }
.post-right:hover .post-right-day {
    background-color: @colorFootTextSelect;
    transition: all 0.5s ease-out 0.2s;
}
.post-right:hover .post-right-month {
    background-color: @colorBGMonth;
    transition: all 0.5s ease-out 0.2s;
}
.post-left-link:hover {
    font-weight: 800;
}
.post-left-link:hover:after {
    transform: scale(1.3);
}
.post-left-link:active:after {
    transform: scale(1.3);
    background-image: url("../img/triangle-icon-bw.png");
}
.post-left-link:active {
    font-weight: 800;
    color: #000;
}
.post-center-link:hover {
    font-weight: 800;
}
.post-center-link:hover:after {
    transform: scale(1.3);
}
.post-center-link:active:after {
    transform: scale(1.3);
    background-image: url("../img/triangle-icon-bw.png");
}
.post-center-link:active {
    font-weight: 800;
    color: #000;
}
.post-right-link:hover {
    font-weight: 800;
}
.post-right-link:hover:after {
    transform: scale(1.3);
}
.post-right-link:active:after {
    transform: scale(1.3);
    background-image: url("../img/triangle-icon-bw.png");
}
.post-right-link:active {
    font-weight: 800;
    color: #000;
}

.post-arrow {
    width: 55px;
    height: 25px;
    margin: 0 auto;
}
.post-arrow-left {
    display: block;
    width: 22px;
    height: 22px;
    border: 1px solid @colorFootTxt;
    background-color: transparent;
    border-radius: 50%;
    float: left;
    outline: none;
}
.post-arrow-right {
    display: block;
    width: 22px;
    height: 22px;
    border: 1px solid @colorFootTxt;
    background-color: transparent;
    border-radius: 50%;
    float: right;
    outline: none;
}
.post-arrow-left:after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-top: 1px solid @colorFootTxt;
    border-left: 1px solid @colorFootTxt;
    transform: rotate(-45deg);
    margin: 0 0 0 2px;
}
.post-arrow-right:after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-top: 1px solid @colorFootTxt;
    border-left: 1px solid @colorFootTxt;
    transform: rotate(135deg);
    margin: 0 0 0 -2px;
}
.post-arrow-left:hover {
    border: 1px solid @colorFootTextSelect;
}
.post-arrow-left:hover:after {
     border-top: 1px solid @colorFootTextSelect;
    border-left: 1px solid @colorFootTextSelect;
}
.post-arrow-right:hover {
    border: 1px solid @colorFootTextSelect;
}
.post-arrow-right:hover:after {
     border-top: 1px solid @colorFootTextSelect;
    border-left: 1px solid @colorFootTextSelect;
}
.post-arrow-left:active {
    border: 1px solid #000;
}
.post-arrow-left:active:after {
     border-top: 1px solid #000;
    border-left: 1px solid #000;
}
.post-arrow-right:active {
    border: 1px solid #000;
}
.post-arrow-right:active:after {
     border-top: 1px solid #000;
    border-left: 1px solid #000;
}
/* ====== Блок partner ============== */
.partner {
    width: 1920px;
    min-height: 488px;
    margin: 0 auto;
    background-color: @colorDark;
    background-image: url("../img/bg-partner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: opacity(90%);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.partner-barber,
.partner-delicious,
.partner-designer {
    margin: 0 90px 0 0;
}
.partner-barber:hover {
    transform: scale(1.5);
}
.partner-barber:active {
    filter: opacity(30%);
}
.partner-delicious:hover {
    transform: scale(1.5);
}
.partner-delicious:active {
    filter: opacity(30%);
}
.partner-designer:hover {
    transform: scale(1.5);
}
.partner-designer:active {
    filter: opacity(30%);
}
.partner-cafe:hover {
    transform: scale(1.5);
}
.partner-cafe:active {
    filter: opacity(30%);
}
/* ===== блок inform ========== */
.inform {
    width: 1920px;
    min-height: 510px;
    margin: 0 auto;
    padding: 80px;
    box-sizing: border-box;
    background-color: @colorBGInform;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}
.inform:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.inform-waxom {
    /*width: 265px;*/
    margin: 0 40px 0 0;
    
}
.inform-waxom-logo {
    display: block;
    float: left;
}
.inform-waxom-title {
    display: block;
    color: #fff;
    font-family: raleway-light, sans-serif;
    font-size: 34px;
    font-weight: 300;
    margin: 10px 0 0 0;
}
.inform-waxom-txt {
    display: block;
    font-family: montserrat-light, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: @colorFootTxt;
    width: 265px;
    padding: 30px 0;
    text-align: justify;
}
.inform-waxom-link {
    display: block;
    text-align: left;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-family: montserrat-light, sans-serif;
    font-size: 14px;
    font-weight: 300;
    float: left;
    
}
.inform-waxom-link:after {
    content: "";
    display: block;
    width: 5px;
    height: 8px;
    background-image: url("../img/triangle-icon-w.png");
    float: right;
    margin: 4px -20px 0 0;
}
.inform-waxom-link:hover {
    font-weight: 800;
}
.inform-waxom-link:active {
    color: #000;
}
.inform-waxom-link:hover:after {
    transform: scale(1.3);
}
.inform-waxom-link:active:after {
    background-image: url("../img/triangle-icon-bw.png");
}
.inform-post {
    margin: 0 40px 0 0;
    box-sizing: border-box;
}
 .inform-post-title {
    display: block;
    text-align: left;
    text-transform: capitalize;
    font-family: raleway-medium, sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #fff;
    margin: 20px 0 40px 0;
 }
 .inform-post-one,
 .inform-post-two,
 .inform-post-three {
    width: 265px;
 }
 .inform-post-one-link,
 .inform-post-two-link,
 .inform-post-three-link {
    display: block;
    text-decoration: none;
 }
.inform-post-one-txt,
.inform-post-two-txt,
.inform-post-three-txt {
    display: block;
    text-align: left;
     font-family: montserrat-light, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: @colorFootTxt;
    text-align: justify;
    padding: 0 0 15px 0;
}
.inform-post-one-txt,
.inform-post-two-txt {
    border-bottom: 1px solid #363636;
}
 .inform-post-one-txt time,
 .inform-post-two-txt time,
 .inform-post-three-txt time {
    display: block;
    text-align: left;
     font-family: montserrat-light, sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #363636;
    padding: 0 0 10px 0;
 }
.inform-post-one:hover .inform-post-one-txt,
.inform-post-two:hover .inform-post-two-txt,
.inform-post-three:hover .inform-post-three-txt {
    color: @colorFootTextSelect;
}
.inform-post-one:hover .inform-post-one-txt time,
.inform-post-two:hover .inform-post-two-txt time,
.inform-post-three:hover .inform-post-three-txt time {
    color: #fff;
}
.inform-post-one:active .inform-post-one-txt,
.inform-post-two:active .inform-post-two-txt,
.inform-post-three:active .inform-post-three-txt {
    color: #333;
}
.inform-post-one:active .inform-post-one-txt time,
.inform-post-two:active .inform-post-two-txt time,
.inform-post-three:active .inform-post-three-txt time {
    color: #333;
}

/*===== ниже FOOTER =======*/
.footer {
    width: 1920px;
    min-height: 112px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: @colorFooter;

}
.footer:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.footer-left-block {
    color: @colorFootTxt;
    list-style-type: none;
    float: left;
    padding: 0;
    margin-left: 350px;
    /*335px*/
}

.footer-left-block-item {
    float: left;
    margin: 35px 12px 0 0;
    /*35 12 0 0*/
    font-family: montserrat-light, sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.footer-left-block-item a {
    color: @colorFootTxt;
    text-decoration: none;
}

.footer-left-block-item:nth-child(n+2):before {
    content: "|";
    color: @colorFootTxt;
    font-family: montserrat-light, sans-serif;
    font-size: 13px;
    font-weight: 300;
    display: block;
    float: left;
    margin: 0 12px 0 0;
}

.footer-txt-nav:hover {
    color: @colorFootLinks;
}

.footer-txt-nav-other:hover {
    color: @colorFootTextSelect;
}

.footer-right-block {
    list-style-type: none;
    width: 590px;/*335*/
    float: right;
    margin: 47px 80px 0 0;
    /*335px*/
}

.footer-right-block span {
    font-family: montserrat-light, sans-serif;
    font-size: 13px;
    font-weight: 300;
    display: block;
    float: left;
    margin-left: 5px;
    color: @colorFootTxt;
}

.footer-right-block span:nth-child(3):before {
    content: "|";
    color: @colorFootTxt;
    font-family: montserrat-light, sans-serif;;
    font-size: 13px;
    font-weight: 300;
    display: block;
    float: left;
    margin: 0 12px 0 0;
}

.footer-right-block a {
    text-decoration: none;
}

.footer-right-block a span:hover {
    color: @colorFootLinks;
}